fastapi
uvicorn
python-multipart

streamlit

pymupdf
pillow

numpy
faiss-cpu
sentence-transformers

transformers
torch
accelerate
sentencepiece

langchain
langchain-community
langchain-core
langgraph

pydantic