fastapi
uvicorn
python-multipart

streamlit

pymupdf

numpy
faiss-cpu
sentence-transformers

transformers
torch
torchvision
accelerate
sentencepiece

langchain
langchain-community
langchain-core
langgraph

pydantic